:root{
  --main-color: #9094b1;
  --link-color: green;
  --text-color: #9a9aa4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  min-height: 100vh;
  padding-top: 50px;

  text-align: center;
  font-family: sans-serif;

  background-color: var(--main-color);
}

.register{
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  margin: auto;
  padding: 20px 50px;
  background-color: #fff;
}

.register-heading{
  position: relative;
  width: 100%;
  margin: 25px 0;

  font-size: 2em;
}



.register-heading::before{
  content: '';
  display: inline-block;
  width: 35%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.register-heading::after{
  content: '';
  display: inline-block;
  width: 35%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  right: 0;
}

.register-form{
  min-height: 50vh;
  justify-content: space-evenly;
}

.register>p{
  margin-bottom: 20px;
  color: var(--text-color);
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.credentials{
  display: flex;
  justify-content: space-between;
}

.credentials>*{
  width: 45%;
}

input{
  padding: 0.8em;
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

*::placeholder{
  font-style: italic;
  text-transform: capitalize;
  font-size: 1em;
}

a:not(p>a){
  color: var(--link-color);
  text-decoration: none;
}

.accept{
  text-align: left;
  color: var(--text-color);
}

.btn{
  background-color: var(--link-color);
  color: #fff;
  padding: 10px;
  text-transform: capitalize;
  font-weight: bolder;

  border-radius: 3px;
}

.overlow-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}